.montserrat-bond700{
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    font-size: 30px;
    font-family: "Montserrat";
    background-image: url('../media/fondo\ negro.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.main-inicio{
    overflow: hidden;
    height: 200vh;

    .contact{
        display: flex ;
        flex-direction: row;
        margin: 2% 0% 0% 5%;
        .cont-ul{
            display: flex;
            list-style: none;
            .cont-li{
                margin-right: 3%;
                text-decoration: none;
                a{
                    color: white;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    text-decoration: none;

                    p{
                        display: inline-flex;
                        min-width: 20vw;
                        margin-left: 5%;
                        font-family: "Montserrat";
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .container-logo{
        width: 100%;
        height: 60vh;
        max-height: 80vh;
        display: flex;
        .img-container{
            width: 40%;
            .imagen{
                position: absolute;
                z-index: 2;
                width: 40%;
                max-width: 100%;
                object-fit: cover;
                opacity: 0;
                animation-duration: 3s; //Animacion 
                animation-iteration-count: infinite;
            }
            .animacion1{
                position: absolute;
                animation-name: showImage1;
            }
            .animacion2{
                position: absolute;
                left: -5%;
                bottom: 18%;
                animation-name: showImage2;
            }
        }
        .portada{  
            display: flex;
            width: 50%;
            height: 100%;
            align-items: center;  
            flex-direction: row-reverse;  
            .logo{
                position: absolute;
                top: 10%;
                .portada-logo{
                    height: 60vh;
                    max-height: 70vh;
                    margin-left: 3%;
                }
            }
            .tit-container{
                width: 40%;        
                position: absolute;
                border-bottom: 5px solid white;
                color: white;
                padding: 0% 1% 0% 1%;
                display: inline-flex;
                align-content: end;
                flex-direction: column;
                text-align: end;
                bottom: 45%;
                .tit-logo{
                    font-size: 2.35rem;
                    font-weight: 500;
                }
                .tit-des-logo{
                    font-size: 1.57rem;
                    font-weight: 800;
                }
            }
            .foun-container{
                display: flex;
                justify-content: center;
                width: 50%;
                bottom: 30%;
                position: absolute;
                .fon-con{
                    background-color: black;
                    width: 25vw;
                    display: flex;
                    justify-content: space-evenly;
                    padding: 1%;
                    border-radius: 30px;
                    font-weight: 900;
                    color: white;
                    a{
                        color: white;
                    }
                }
            }
        }
    }
    .soft-container{
        height: 50vh;
        max-height: 60vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        .soft-con{
            background-image: url('../media/ripped-notebook-paper-white-transparent-image-7.png');
            background-size: 110% 100%;
            background-position: center;
            width: 100%;
            height: 100%;
            display: flex;
            z-index: 1;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .soft-des{
                width: 50%;
                div{
                    flex-direction: column;
                    display: flex;
                    align-items: end;
                    .soft-txt{
                        width: 100%;
                        border-bottom: 4px solid black;
                        .soft{
                            font-size: 6rem;
                        }
                    }
                    .txt-2{
                        .soft-txt-2-con{
                            .soft-txt-2{
                                display: flex;
                                position: relative;
                                bottom: 3vh;
                                font-style: italic;
                                font-size: 2.5rem;
                                background-color: white;
                            }
                        }
                    }
                }
            }
            .img-con-soft{
                width: 50vw;
                position: relative;
                top: 0%;
                left: 7%;
                .img-soft{
                    display: block;
                    width: 30vw;
                    max-width: 100%;
                }
            }
        }
    }
    .desc-container{
        background-image: url('../media/FONDO\ BLANCO_Mesa\ de\ trabajo\ 1\ copia.png');
        background-size: 100% 100%;
        height: 80vh;
        display: inline-flex;
        flex-direction: row;
        width: 100%;
        padding: 3% 0% 3% 9%;
        position: relative;
        bottom: 10vh;
        overflow: hidden;
        .desc-con-txt{
            .desc-li-txt{
                width: 60%;
                height: 30%;
                display: flex;
                align-items: center;
                transform: translateX(-150%);
                transition: transform 1s ease-in-out;
                .desc-txt-img{
                    margin-right: 3%;
                    width: 10%;
                }
                div{
                    h3{
                        font-size: 1.8rem;
                    }
                    .desc-txt{
                        font-size: 1.5rem;
                        font-weight: 600;
                    }

                }
            }
            .scroll-activo{
                transform: translateX(0); 
            }
        }
        .go{
            margin-top: 1%;
            display: inline-flex;
            transform: translateX(-150%);
            transition: transform 1s ease-in-out;
            width: 40vw;
            justify-content: end;
            right: 20vw;
            position: relative;
            background-color: black;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            .to-porfolio{
                font-size: 2rem;
                padding: 1% 4% 1% 0%;
                color: white;
                text-decoration: none;
            }
            &:hover{
                transform: translateX(10%);
                transition: transform 0.6s ease;
            }
        }
        .scroll-activo{
            transform: translateX(0); 
        }
        .desc-imgs{
            width: 50%;
            height: 100%;
            display: flexbox;
            justify-content: end;
            position: absolute;
            right: 0;
            bottom: 0;
            .desc-img{
                position: absolute;
                right: 5%;
                top: 0%;
                overflow: none;
                z-index: 2;
                height: 120%;
            }
            .sticker{
                display: block;
                z-index: 3;
                opacity: 0; 
                animation-duration: 3s;
                animation-iteration-count: infinite;
                width:15%;
            }
            .desc-img-1{
                position: absolute;
                transform: rotate(0deg);
                top: 5%;
                right: 20%;
            }
            .desc-img-2{
                position: absolute;
                transform: rotate(-10deg);
                top: 40%;
                left: 30%;      
            }
            .desc-img-3{
                position: absolute;
                transform: rotate(10deg);
                top: 45%;
                right: 20%;    
            }
            .desc-img-4{
                position: absolute;
                transform: rotate(10deg);
                left: 15%;
                bottom: 5%;                
            }
        } 
    }
        
    

    // portada

    @keyframes showImage1 {
        0%, 49.98% { opacity: 1; }  
        49.99%, 100% { opacity: 0; } 
    }
    @keyframes showImage2 {
        0%, 50.00% { opacity: 0; }  
        51.01%, 100% { opacity: 1; } 
    }
    // sticker

    .sticker:nth-child(1) {
        animation-name: sticker1;
    }
    .sticker:nth-child(2) {
        animation-name: sticker2;
    }
    .sticker:nth-child(3) {
        animation-name: sticker3;
    }
    .sticker:nth-child(4) {
        animation-name: sticker4;
    }

    @keyframes sticker1 {
        0%, 87.49% {opacity: 1;}
        87.5%, 100% {opacity: 0;}
    }
    @keyframes sticker2 {
        0%, 12.49% { opacity: 0; } 
        12.5%, 75% {opacity:1;}
        75.01%, 100% {opacity: 0;}
    }
    @keyframes sticker3 {
        0%, 25% { opacity: 0; } 
        25.01%, 62.49% {opacity: 1;}
        62.5%, 100% {opacity: 0;}
    }
    @keyframes sticker4 {
        0%, 37.49% { opacity: 0; } 
        37.5%, 50% {opacity: 1;}
        50.01%, 100% {opacity: 0;}
    }
}




// // porfolio
// .main-porfolio{
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     .porfolio-container{
//         width: 40vw;
//         height: 90vh;
//         display: flex;
//         flex-direction: row;
//         .porf-con-img{
//             height: 100vh;
//             overflow: hidden;
//             z-index: 1;
//             position: absolute;
//             .porf-img{
//                 position: relative;
//                 right: 10%;
//                 bottom: 10%;
//                 width: 55vw;
//                 max-width: 100%;
//             }
//         }
//         .porfolio{
//             position: absolute;
//             right: 0;
//             width: 50%;
//             .porf-txt{
//                 margin: 3%;
//                 height: 60vh;
//                 color: white;
//                 .porf-welcome{
//                     position: relative;
//                     right: 13%;
//                     top: 1vh;
//                     font-size: 2em;
//                     font-weight: 500;
//                     font-style: italic;
//                 }
//                 div{
//                     .porf-port{
//                         position: relative;
//                         font-size: 8em;
//                         bottom: 5vh;
//                         right: 11vw;
//                     }
//                     .porf-folio{
//                         position: relative;
//                         bottom: 17vh;
//                         right: 8vw;
//                         font-size: 8em;
//                     }
//                 }
//             }
//             .porf-go-con{
//                 animation: go-to 4s forwards;
//                 .go-home-page{
//                     margin-top: 7%;
//                     display: inline-flex;
//                     flex-direction: row;
//                     transform: translateX(0%);
//                     transition: transform 1s ease-in-out;
//                     width: 50vw;
//                     justify-content: start;
//                     left: 15vw;
//                     position: relative;
//                     background-color: black;
//                     border-top-left-radius: 30px;
//                     border-bottom-left-radius: 30px;
//                     .to-home-page{
//                         font-size: 2rem;
//                         padding: 1%;
//                         padding-left: 3%;
//                         color: white;
//                         text-decoration: none;
//                     }
//                     &:hover{
//                        transition: 0.5s ease-out ;
//                        transform: translateX(-10%);
//                     }         
//                 }
//             }
//         }
    
//         @keyframes aparecer {
//             0%, 98% { opacity: 0;}
//             99%, 100% {opacity: 1;}
//         }
     
//         @keyframes go-to {
//            0%, 50% { transform: translateX(100%); }
//            100% { transform: translateX(0); }
//         }
//     }
//     .porf-desc-cont-con{
//         height: 40vh;
//         bottom: 15vh;
//         width: 100%;
//         position: relative;
//         display: flex;
//         z-index: 1;
//         flex-direction: row;
//         align-content: center;
//         .desc-cont-con{
//             background-image: url(../media/ripped-notebook-paper-white-transparent-image-7.png);
//             background-position: center;
//             background-size: 110% 93%;
//             align-items: center;
//             width: 100%;
//             height: 45vh;
//             overflow: hidden;
//             position: relative;
//             display: inline-flex;
//             .con-desc-cont-img{
//                 flex-direction: column;
//                 justify-content: center;
//                 width: 100%;
//                 height: 90%;
//                 display: flex;
//                 align-items: center;
//                 .desc-cont-img{
//                     justify-content: space-evenly;
//                     display: flex;
//                     align-items: center;
//                     transform: translateX(-150%);
//                     transition: transform 1s ease-in-out;
//                     width: 80%;
//                     height: 40%;
//                     background-color: aqua;
//                 }
//                 .scroll-activo{
//                     transform: translateX(0); 
//                 }
//             }
//         }
//     }
// }
